@charset "UTF-8"

/* Estilos para tela */;

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

header {
    background-color:rgba(28, 8, 8, 0.052) ;
}

header > h1 {
    background-color: rgba(93, 89, 89, 0.312);
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: rgba(99, 93, 93, 0.718);
}

menu li {
    background-color:rgb(81, 81, 81);
    display: inline-block;
    color: white;
    padding: 10px;
}

article{
    width: 60vw;
    display: block;
    margin: auto;



}